<h1>Weather Conditions for: <%= @city %></h1>


<p>The tempature is <strong><%= @data["main"]["temp"] %></strong> degrees outside.</p>


<p>The wind is blowing at <strong><%= @data["wind"]["speed"] %></strong> miles per hour.</p>


<p>Click <a href="/weather/search">here </a> to check the weather somewhere else.</p>

