

<h1>Weather Search Page</h1>

<p>Hello! Enter the City and State you would like to know the weather about</p>

<form action="/weather/conditions">
  <div class="form-group">
    <label>Enter a City:</label>
    <input name ="city" type="text" class="form-control input-md" placeholder="Example: Bentonville, AR">
  </div>
  <input type="submit" class="input-md">
</form>
