    <div class="container">


      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2><a href="/index">Andy's Birthday List</a></h2>
      </div>




<!-- This section shows your current list -->

      <div class="bs-example">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Item #</th>
              <th>Item</th>
              <th>Quantity Needed</th>
              <th>Example</th>
              <th>Date Added</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Basketball</td>
              <td>1</td>
              <td><a href="http://www.dickssportinggoods.com/product/index.jsp?productId=3995836&cp=4406646.4413887.4414035.4414024.4415107"> Link</a></td>
              <td>01/20/2014</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Energy chews for bike riding</td>
              <td>2</td>
              <td><a href="http://www.amazon.com/Clif-Shot-Bloks-Strawberry-Pack/dp/B0021AEX3W/ref=sr_1_1?ie=UTF8&qid=1390251015&sr=8-1&keywords=shot+blocks"> Link</a></td>
              <td>01/20/2014</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Kellogg tuition</td>
              <td>1</td>
              <td><a href="http://www.kellogg.northwestern.edu/"> Link</a></td>
              <td>01/21/2014</td>
            </tr>
          </tbody>
        </table>
      </div><!-- /example -->


      <!-- Next we have a form to allow the user to enter the data for one additional row to the table -->

      <!-- Eventually, I want to have a hover box that will show the detailed comments when the user mouses over an item. -->

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="text-center">
            <h3>Add another item to your list!</h3>
          </div>
        </div>
        <div class="col -md-3">
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-6">
          <div class="bs-example">
            <form role="form">
              <div class="form-group">
                <label for="desiredItem">Item Description (e.g. "Basketball")</label>
                <input type="text" class="form-control" id="desiredItem" placeholder="Desired Item">
              </div>
            </form>
          </div>
        </div>
        <div class = "col-md-2">
          <div class="bs-example">
            <form role="form">
              <div class="form-group">
                <label for="quantity">Quantity Needed (e.g. 2)</label>
                <input type="text" class="form-control" id="quantity" placeholder="Quantity Needed">
              </div>
            </form>
          </div><!-- /example -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div class="bs-example">
            <form role="form">
              <div class="form-group">
                <label for="desiredItemLink">Link to Example</label>
                <input type="url" class="form-control" id="desiredItemLink" placeholder="Paste link to example here">
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div class="bs-example">
            <form role="form">
              <div class="form-group">
                <label for="comments">Additional Comments</label>
                <textarea type="url" class="form-control" id="comments" rows="3" placeholder="Enter additional comments here (why you want the item, specific instructions, etc.) "></textarea>
              </div>
              <button type="submit" class="btn btn-default">Add to list!</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Andy Crewson 2014</p>
      </div>


    </div> <!-- /container -->   <!-- This container keeps everything within the width that I want the page -->
